body {
  background-color: #f6f5f5;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
  height: 95vh;
  background: rgb(238,238,238);
  background: linear-gradient(90deg, rgba(238,238,238,1) 60%, rgba(204,204,204,1) 60%);
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgb(0, 0, 0,0.2);
  padding: 0 5%;
}
nav ul {
  display: flex;
}
nav ul li a {
  margin: 30px;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}
.logo {
  font-family: 'Monoton', cursive;
  color: rgb(0, 31, 4);
  font-size: 22px;
}
.active {
  font-weight: bold;
  color: #07dbd1;
}
.sectiontext p:nth-child(1) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 22px;
}
.sectiontext p:nth-child(2) {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 60px;
}
.sectiontext p:nth-child(3) {
  color: #403e3e;
  font-size: 30px;
  line-height: 30px;
}
.sectiontext p {
  line-height: 0;
  margin: 45px 0 25px;
}
.sectiontext {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%,-42%);
}
.dp {
  height: 500px;
  position: absolute;
  bottom: 0;
  left: 70%;
  transform: translateX(-70%);
}
.about {
  width: 80%;
  height: 330px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgb(0, 0, 0,0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
}
.about {
  color: #ffffff;
}
.aboutme {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding-top: 30px;
  margin-top: 60px;
  margin-left: -560px;
  margin-right: 50px;
}
.about h1 {
  text-align: center;
  color: #000;
  padding-left: 500px;
}
.abouttext {
  width: 250px;
  height: 200px;
  background-color: #1d1d1d;
  margin-right: 80px;
  text-align: center;
}
.abouttext2 {
  width: 250px;
  height: 200px;
  background-color: #1d1d1d;
  text-align: center;
  margin-right: 80px;
}
.abouttext3 {
  width: 250px;
  height: 200px;
  background-color: #1d1d1d;
  text-align: center;
}
.abouttext p {
  padding-top: 50px;
}
.heading {
  text-align: center;
  padding-top: 10px;
}
.projects {
  height: 330px;
  background-color: #1d1d1d;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgb(0, 0, 0,0.2);
  margin: -3% auto 20px auto;
  color: white;
}